body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo {
  height: 4vh;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  background-color: #747264;
  box-shadow: 0 17px 39px 11px rgba(63, 0, 199, 0.62);
  z-index: 10;
  transition: box-shadow 0.3s ease;
}
.navbar:not(:hover) {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar ul {
  position: relative;
  height: 70px;
  top: 0;
  display: flex;
  flex-direction: row;
}

.navbar li {
  margin-left: 3vw;
  width: 90px;
  height: 40px;
  padding-top: 25px;
  font-weight: bold;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}
.navbar a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: 0.5s;
}
.navbar a:hover {
  background-color: #a581ff5b;
  box-shadow: 0px 0px 100px 46px #a481ff;
  text-decoration: underline white;
}

@media screen and (max-width: 768px) {
  .navbar ul{
    padding: 0;
  }

  .navbar li{
    margin-left:1vw ;
    width: 85px;
  }
}
